<!DOCTYPE html>
<html lang="en">
   <head>
      <link rel="stylesheet" href="http://s3-ap-southeast-1.amazonaws.com/wifination-static/css/bootstrap.min.css">
      <link rel="stylesheet" href="http://s3-ap-southeast-1.amazonaws.com/wifination-static/css/social-buttons.css">
      <link rel="stylesheet" href="http://s3-ap-southeast-1.amazonaws.com/wifination-static/css/font-awesome.min.css">
      <link rel="stylesheet" href="http://s3-ap-southeast-1.amazonaws.com/wifination-static/css/wifination.min.css">
      {% block css %}{% endblock %}
      {% block pre_scripts%}{% endblock %}
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!--<meta http-equiv="Cache-control" content="no-cache">
      <meta http-equiv="Pragma" content="no-cache">-->
      {% if not page_vars['title'] %} <title>WiFi Nation Login</title>
      {% else %} <title> {{ page_vars['title']}}</title>
      {% endif %}
   </head>
   <body>
      {% block main_body %}
      {% endblock %}
      <script src="http://s3-ap-southeast-1.amazonaws.com/wifination-static/js/jquery.min.js"></script>
      <script src="http://s3-ap-southeast-1.amazonaws.com/wifination-static/js/bootstrap.min.js"></script>
      <script src="http://s3-ap-southeast-1.amazonaws.com/wifination-static/js/wifination.js"></script>
      {% block post_scripts%}{% endblock %}
   </body>
</html>