<!DOCTYPE html>
<html lang="en">
   <head>
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/css/social-buttons.css">
      <link rel="stylesheet" href="/static/css/font-awesome.min.css">
      <link rel="stylesheet" href="/static/css/wifination.min.css">
      {% block css %}{% endblock %}
      <meta name="viewport" content="width=device-width,user-scalable=no">
      <!--<meta http-equiv="Cache-control" content="no-cache">
      <meta http-equiv="Pragma" content="no-cache">-->
      {% if not page_vars  ['title'] %} <title>WiFi Nation Login</title>
      {% else %} <title> {{ page_vars  ['title']}}</title>
      {% endif %}
   </head>
   <body>
      {% block main_body %}
      {% endblock %}
      <script src="static/js/jquery.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
      <script src="static/js/wifination.js"></script>
      {% block scripts%}{% endblock %}
   </body>
</html>