{% extends "landingpage-scripts.html"%}

{% block main_body %}
<div id="fb-root"></div>
<script>
   // Load the SDK asynchronously
   (function(d){
      console.log("loading SDK asynchronously")
      var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement('script'); js.id = id; js.async = true;
      js.src = "//connect.facebook.net/en_US/all.js";
      ref.parentNode.insertBefore(js, ref);
   }(document));
</script>

<div class="row" style="margin-top:7%">
   <div class="col-md-offset-1 col-md-3" >
      <div style="margin-bottom:5%">
         <img src="static/img/wifination_logo.png" width="100" alt="WiFi Nation logo">
         <img src="static/img/statement.png" width="201" alt="statement">
      </div>
      <div class="well">
         <h3 class="allerta">Access WiFi Nation</h3>
         
         <form role="form" id="login_form" method="post" action="{{ loginpath }}">
            <input type="hidden" name="challenge" value="{{ page_vars['challenge'] }}">
            <input type="hidden" name="uamip" value="{{ page_vars['uamip'] }}">
            <input type="hidden" name="uamport" value="{{ page_vars['uamport'] }}">
            <input type="hidden" name="userurl" value="{{ page_vars['userurl'] }}">
            <input type="hidden" name="loginattempt" value="wifination">
            <input type="hidden" name="username">
            <input type="hidden" name="password">
            <input type="hidden" name="email">
            <input type="hidden" name="first_name">
            <input type="hidden" name="last_name">

            <div>
               <button style="margin-top:10px;margin-left: auto" class="btn btn-facebook btn-block" data-show-faces="true" id="btn-login" type="button">
                  <i class="icon-facebook"></i> | Connect now using Facebook
               </button>
            </div>
         </form>
      </div>
   </div>
   <div class="col-md-offset-2 col-md-4">
         <img src="static/img/enjoy.png" width="300" alt="enjoy">
   </div>
   <div class="col-md-offset-3 col-md-4" style="margin-top:10%;">
      <img id="img-thumb" src="static/img/thumb.png" width="150" alt="Wifination Logo">
      <img src="static/img/lof.png" width="170" alt="lof">
   </div>
</div>
{% endblock %}