{% extends "base.html" %}

{% block pre_scripts %}
<script>
   //function that gets user info and logs it in the 
      function doLogin(){
         FB.api("/me", function(response){
            console.log("setting form info");
            $("[name='username']").val("wifinationuser")
            $("[name='password']").val("randomstring")
            //$("[name='username']").val(response.username)
            //$("[name='password']").val(response.id)
            //$("[name='first_name']").val(response.first_name)
            //$("[name='last_name']").val(response.last_name)
            //if (response.email) $("[name='email']").val(response.email)
            console.log("submitting form");
            showForm();
            $("#login_form").submit();
         });
      }

      //show the form details on the log
      function showForm(){
         var x = $("#login_form");
         console.log(x.serializeArray());
      }

      // Load the SDK asynchronously
      (function(d){
         console.log("loading SDK asynchronously")
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all.js";
         ref.parentNode.insertBefore(js, ref);
      }(document));
</script>
{% endblock %}

{% block post_scripts %}
<script>
   //add click functionality to login button
      $("button#btn-login").bind("click",function(){FB.login()});
</script>
{% endblock %}