{% extends "base.html"%}
{% block post_scripts %}
<script src="static/js/landing.js"></script>
{% endblock %}

{% block main_body %}
<div id="fb-root"></div>
<script src="static/js/authenticate.js"></script>
<div class="container">
   <div style="padding-top:7%">
      <center>
         <img id="manila-seal" src="static/img/manila_seal.png" class="img-responsive" alt="City of Manila Seal">
         <h1 class="alerta">City of Manila Free WiFi</h1>
         <h4>Access free internet by logging in with Facebook.</h4>
         <div id="fb-login" >
            <form role="form" id="login_form" method="post" action="{{ loginpath }}">
               <input type="hidden" name="challenge" value="{{ page_vars['challenge'] }}">
               <input type="hidden" name="uamip" value="{{ page_vars['uamip'] }}">
               <input type="hidden" name="uamport" value="{{ page_vars['uamport'] }}">
               <input type="hidden" name="userurl" value="{{ page_vars['userurl'] }}">
               <input type="hidden" name="loginattempt" value="wifination">
               <input type="hidden" name="username">
               <input type="hidden" name="password">
               <input type="hidden" name="email">
               <input type="hidden" name="first_name">
               <input type="hidden" name="last_name">
               <input type="hidden" name="newuser">
            </form>

            <div class="col-xs-offset-2 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 hidden-xs">
               <div>
                  <img src="static/img/loading.gif" alt="Loading.." class="img-loading">
                  <span claclass="loading-msg"></span>
               </div>
               <button style="margin-top:10px;margin-left: auto" class="btn btn-facebook btn-login btn-block hidden">
                  <i class="icon-facebook"></i> | Connect now using Facebook
               </button>
               <div class="container hidden" id="logged-user-div">
                  <div class="row">
                     <div class="col-md-offset-1 col-md-2">
                        <img id="user-pic" class="img-rounded" style="margin-top:10%">
                     </div>
                     <div class="col-md-8">
                        Welcome back <span id="user-name"></span>!
                        <button id="btn-continue" class="btn btn-facebook btn-block">Click here to continue</button>
                     </div>
                  </div>
                  <div class="row">
                     Not <span id="user-name"></span>? <a href="#" id="logout-user">Sign-in as different user</a>
                  </div>
               </div>
               <span style="font-size:10px;margin-top:2px;">
                  By logging in, I accept the <a href="">Terms and Conditions</a>
               </span>
               <div>
                  <br/><span>Powered by:</span>
                  <img src="static/img/wnlogo3.png" class="img-responsive" alt="WiFi Nation Logo" style="height:80px">

               </div>
            </div>
            <div id="fb-login-xs" class="visible-xs">
               <div>
                  <img src="static/img/loading.gif" alt="Loading.." class="img-loading">
                  <span class="loading-msg"></span>
               </div>
               <button style="margin-top:10px;margin-left: auto;width:60%" class="btn btn-login btn-facebook btn-block hidden">
                  <i class="icon-facebook"></i> | Connect now using Facebook
               </button>
               <div class="container hidden" id="logged-user-div">
                  <div class="row">
                     <div class="col-xs-1"></div>
                     <div class="col-xs-2">
                        <img id="user-pic" class="img-rounded" style="margin-top:10%">
                     </div>
                     <div class="col-xs-7">
                        Welcome back <span id="user-name"></span>!
                        <button id="btn-continue" class="btn btn-facebook btn-block">Click here to continue</button>
                     </div>
                  </div>
                  <div class="row" style="font-size:12px;margin-top:2px;">
                     Not <span id="user-name"></span>? <a href="#" id="logout-user">Sign-in as different user</a>
                  </div>
               </div>
               <div style="font-size:10px;margin-top:2px;">
                  By logging in, I accept the <a href="">Terms and Conditions</a>
               </div>
            </div>
         </div>
      </center>
   </div>
</div>
{% endblock %}