{% extends "base.html"%}

{% block scripts %}
<script>
   window.fbAsyncInit = function() {
      FB.init({
         appId      : '248863558597971', // App ID
         channelUrl : 'static/channel.html', // Channel File
         status     : true, // check login status
         cookie     : true, // enable cookies to allow the server to access the session
         xfbml      : true  // parse XFBML
      });

      FB.Event.subscribe('auth.authResponseChange', function(response) {
         console.log("responsechange");
         console.log("response: "+response);
         if (response.status === 'connected') {
            testAPI();
            doLogin();
         } else if (response.status === 'not_authorized') {
            FB.login();
         } else {
            FB.login();
         }
      });

      FB.getLoginStatus(function(response){
         if (response.status === 'connected') {
            doLogin();
         }
      });

      //function that gets user info and logs it in the 
      function doLogin(){
         FB.api("/me", function(response){
            console.log("setting form info");
            $("[name='username']").val("wifinationuser")
            $("[name='username']").val("randomstring")
            //$("[name='username']").val(response.username)
            //$("[name='password']").val(response.id)
            //$("[name='first_name']").val(response.first_name)
            //$("[name='last_name']").val(response.last_name)
            //if (response.email) $("[name='email']").val(response.email)
            console.log("submitting form");
            showForm();
            //$("#login_form").submit();
         });
      }

      function showForm(){
         var x = $("#login_form");
         console.log(x.serializeArray());
      }
      //add click functionality to login button
      $("button#btn-login").click(function(){FB.login()});
   };

   function testAPI() {
      console.log('Welcome!  Fetching your information.... ');
      FB.api('/me', function(response) {
         console.log('Good to see you, ' + response.name + '.');
      });
   }
</script>
{% endblock %}

{% block main_body %}
<div id="fb-root"></div>
<script>
   // Load the SDK asynchronously
   (function(d){
      console.log("loading SDK asynchronously")
      var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement('script'); js.id = id; js.async = true;
      js.src = "//connect.facebook.net/en_US/all.js";
      ref.parentNode.insertBefore(js, ref);
   }(document));
</script>

<div class="row" style="margin-top:7%">
   <div class="col-md-offset-1 col-md-3" >
      <div style="margin-bottom:5%">
         <img src="static/img/wifination_logo.png" width="100" alt="WiFi Nation logo">
         <img src="static/img/statement.png" width="201" alt="statement">
      </div>
      <div class="well">
         <h3 class="allerta">Access WiFi Nation</h3>
         
         <form role="form" id="login_form" method="post" action="{{ loginpath }}">
            <input type="hidden" name="challenge" value="{{ page_vars['challenge'] }}">
            <input type="hidden" name="uamip" value="{{ page_vars['uamip'] }}">
            <input type="hidden" name="uamport" value="{{ page_vars['uamport'] }}">
            <input type="hidden" name="userurl" value="{{ page_vars['userurl'] }}">
            <input type="hidden" name="loginattempt" value="wifination">
            <input type="hidden" name="username">
            <input type="hidden" name="password">
            <input type="hidden" name="email">
            <input type="hidden" name="first_name">
            <input type="hidden" name="last_name">

            <div>
               <button style="margin-top:10px;margin-left: auto" class="btn btn-facebook btn-block" data-show-faces="true" id="btn-login" type="button">
                  <i class="icon-facebook"></i> | Connect now using Facebook
               </button>
            </div>
         </form>
      </div>
   </div>
   <div class="col-md-offset-2 col-md-4">
         <img src="static/img/enjoy.png" width="300" alt="enjoy">
   </div>
   <div class="col-md-offset-3 col-md-4" style="margin-top:10%;">
      <img id="img-thumb" src="static/img/thumb.png" width="150" alt="Wifination Logo">
      <img src="static/img/lof.png" width="170" alt="lof">
   </div>
</div>
{% endblock %}