{% extends "base.html" %}

{% block pre_scripts %}
<script>
   var isClicked = false;
   
   /* queries fb for user info, and submits form */
   function doLogin(){
      FB.api("/me", function(response){
         console.log("setting form info");
         $("[name='username']").val("wifinationuser")
         $("[name='password']").val("randomstring")
         //$("[name='username']").val(response.username)
         //$("[name='password']").val(response.id)
         //$("[name='first_name']").val(response.first_name)
         //$("[name='last_name']").val(response.last_name)
         if (response.email) $("[name='email']").val(response.email)
         console.log("submitting form");
         showForm();
         $("#login_form").submit();
      });
   }
   //show the form details on the log
   function showForm(){
      var x = $("#login_form");
      console.log(x.serializeArray());
   }
</script>
{% endblock %}

{% block post_scripts %}
<script>
   $("button#btn-login").bind("click",function(){
    doFbLogin() //add click function to login button
    });
   $("a#logout-user").bind("click", function(){
      FB.logout(function(response){ showLoading()})
   });

   function showLoading(msg){
      $('img#img-loading').fadeIn(function(){
         $('button#btn-login').hide();
         $('div#logged-user-div').hide();
         if (msg){
          
         }
      });
   }

   function showWelcomeUser(){
      console.log("welcoming user")
      FB.api('/me', function(response) {
         console.log(response)
         $("span#user-name").text(response.first_name)
         $('img#user-pic').attr('src','//graph.facebook.com/'+response.id+'/picture')
         $('img#img-loading').fadeOut(function(){
            $('div#logged-user-div').css('visibility','visible').fadeIn().removeClass('hidden');
            $('button#btn-login').hide();
         });
      })
   }

   /* user is not logged in to fb or has not 
      yet authorized wifination show connect button */
   function showLoginUser(){
      $("input[name='newuser']").val('true')
      console.log("user not yet connected")
      $('img#img-loading').fadeOut(function(){
         $('button#btn-login').css('visibility','visible').fadeIn().removeClass('hidden');
         $('div#logged-user-div').hide();
      });
   }

   function doFbLogin(){
      FB.login(function(response){
         //fb_publish();
         doLogin()
      }/*, {scope:'email,publish_actions'}*/);
   }

  function fb_publish() {
   FB.ui({
       method: 'stream.publish',
       message: 'Test',
       attachment: {
         name: 'Test:Name',
         caption: 'Test:Caption',
         description: (
           'Test:description here'
         ),
         href: 'http://wifination.ph'
       },
       action_links: [
         { text: 'Test:Code', href: 'http://wifination.ph/action' }
       ],
       user_prompt_message: 'Tell your friends blah blah'
     },
     function(response) {
       if (response && response.post_id) {
         console.log('Post was published.');
       } else {
         console.log('Post was not published.');
       }
     }
   );  
  }
</script>
{% endblock %}