{% extends "base.html" %}

{% block post_scripts %}
<script>
   $("button#btn-browse").click(function(){
      window.location.replace("{{ redirect_url | safe}}");
   });

  //resolveFullHeight();

  $(window).resize(function () {
    //resolveFullHeight();
  });
  $('#demo_cake').popover({trigger:"hover",html:true});
  $('#demo_coffee').popover({trigger:"hover",html:true});
  $('#demo_cereal').popover({trigger:"hover",container:"body",html:true});
  $('#demo_title').popover({trigger:"hover",container:"body",html:true});
</script>
{% endblock %}

{% block css %}
<style>
body {
   background-color: #ECECEC;
}
#imgs-div{
  background-image: url('static/img/shit.png');
  background-repeat: no-repeat;
  background-size: 72%;
}
</style>
{% endblock %}

{% block main_body %}
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <img src="static/img/fat_logo.png" style="height:19px">      
      WiFi Nation [DEMO] <small>This page is a demo survey page</small></a>
  </div>
</nav>
<div class="container" style="margin-top:1%" id="fullHeight">
   <div class="row" >
      <div class="col-md-6 well">
          <a href="#" id="demo_title" data-trigger="hover" data-content="Your establisment's name" rel="popover" data-placement="top">
          <h2>Welcome to MyCafe!</h2>
          </a>
          <div>
            <code>Did you know: MyCafe serves the best cereals in town!</code>
          </div>
          <h4>Tasty specials for today:</h4>
            <a href="#" id="demo_cake" data-trigger="hover" data-content="Our signature cake! <br/>Price: PhP 50.00" title="Choco cake" rel="popover" data-placement="top" class="col-md-4">
              <img src="static/img/demo_cake.jpg" style="height:130px" class="img-rounded">
              <center><label>Choco cake</label></center>
            </a>
            <a href="#" id="demo_coffee" data-trigger="hover" data-content="Warm coffee for the heart! <br/>Price: PhP 44.00" title="Warm Coffeee" rel="popover" data-placement="top" class="col-md-4">
              <img src="static/img/demo_coffee.jpg" style="height:130px" class="img-rounded">
              <center><label>Warm Coffee</label></center>
            </a>
            <a href="#" id="demo_cereal" data-trigger="hover" data-content="Brekfast anytime! <br/>Price: PhP 60.00" title="Tasty Cereal" rel="popover" data-placement="top" class="col-md-4">
              <img src="static/img/demo_cereal.jpg" style="height:130px" class="img-rounded">
              <center><label>Tasty Cereals</label></center>
          </a>
        </a>
      </div>

      <div class="col-md-6" >
        <div class="col-md-offset-1 col-md-11 well" >
          <form>
            <h3></h3>

          </form>
        </div>
      </div>
   </div>
</div>
{% endblock %}