<html>
   <body>
   <img style="border:1px solid" src='http://s3-ap-southeast-1.amazonaws.com/wifination-static/static-files/ch_blended.png'>
   <img src='http://wifination.ph/wifination/static/img/ch_blended.png'>
   <br/>
   <img style="border:1px solid"src='http://s3-ap-southeast-1.amazonaws.com/wifination-static/static-files/ch_hot.png'>
   <img src='http://wifination.ph/wifination/static/img/ch_hot.png'>
   <br/>
   <img style="border:1px solid"src='http://s3-ap-southeast-1.amazonaws.com/wifination-static/static-files/ch_iced.png'>
   <img src='http://wifination.ph/wifination/static/img/ch_iced.png'>
   <br/>
   <img style="border:1px solid"src='http://s3-ap-southeast-1.amazonaws.com/wifination-static/static-files/cofeehub.jpg'>
   <img src='http://wifination.ph/wifination/static/img/coffeehub.png'>
   </body>
</html>