{% extends "base.html"%}

{% block main_body %}
<div class="row" style="margin-top:7%">
   <div class="col-md-offset-1 col-md-3" >
      <div style="margin-bottom:5%">
         <img src="static/img/wifination_logo.png" width="32.5%">
         <img src="static/img/statement.png" width="66%">
      </div>
      <div class="well">
         <h3 class="allerta">Access WiFi Nation</h3>
         
         <form role="form" id="login_form" method="post" action="{{ login_formpath }}">
            <input type="hidden" name="challenge" value="{{ page_vars['challenge'] }}">
            <input type="hidden" name="uamip" value="{{ page_vars['uamip'] }}">
            <input type="hidden" name="uamport" value="{{ page_vars['uamport'] }}">
            <input type="hidden" name="userurl" value="{{ page_vars['userurl'] }}">
            <input type="hidden" name="loginattempt" value="wifination">
            <input type="hidden" name="username">
            <input type="hidden" name="password">

            <div>
               <button style="margin-top:10px;margin-left: auto" class="btn btn-facebook btn-block">
                  <i class="icon-facebook"></i> | Connect now using Facebook
               </button>
            </div>
         </form>
      </div>
   </div>
   <div class="col-md-offset-2 col-md-4">
         <img src="static/img/enjoy.png" width="70%">
   </div>
   <div class="col-md-offset-3 col-md-4" style="margin-top:10%;">
      <img id="img-thumb"src="static/img/thumb.png" width="40%" alt="Wifination Logo">
      <img src="static/img/lof.png" width="49%">
   </div>
</div>
{% endblock %}