{% extends simple.html %}

{% block hidden_xml %}
   <!-- <?xml version="1.0" encoding="UTF-8"?>
   <WISPAccessGatewayParam xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"xsi:noNamespaceSchemaLocation=\"http://www.acmewisp.com/WISPAccessGatewayParam.xsd\">
   <AuthenticationReply>
      <MessageType>120</MessageType>
      <ResponseCode>102</ResponseCode>
      <ReplyMessage>Login must use encrypted connection</ReplyMessage>
   </AuthenticationReply> 
   </WISPAccessGatewayParam>-->
{% endblock %}